/* Estilos generales  */
html {
  font-family: 'Lato', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
img, svg {
  display: inline-block;
  vertical-align: middle;
  border: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:focus {
  outline: none;
  text-decoration: underline;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b, strong {
  font-weight: bold;
}
small {
  font-size: 80%;
}
mark {
  background-color: yellow;
  color: black;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
button {
  cursor: pointer;
}
button[disabled], input[disabled] {
  cursor: not-allowed;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 0;
  text-align: left;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 1em 0;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  background: #f4f4f4;
  padding: 5px;
}
fieldset {
  border: 1px solid #c0c0c0;
  padding: 1em;
}
legend {
  padding: 0;
}
.nav-link {
  color: #333;
  padding: 0.5em;
}
.button-primary {
  background-color: #0044cc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
.button-primary:hover {
  background-color: #002a80;
}
/* Estilo responsive  */
@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    padding: 1em;
  }
  .button-primary {
    width: 100%;
    text-align: center;
  }
}